.landing{
	font-size: 14px;
}
.landing .navbar-brand{
	font-size: 24px;
}
.landing .navbar.affix{
	left: 0;
	right: 0;
	padding: 0;  
	-webkit-transition: padding ease-in-out 0.3s;
    transition: padding ease-in-out 0.3s;
 }
.landing .navbar, 
.landing .navbar-brand, 
.landing .navbar ul > li > a{
	line-height: 30px !important;
}
.landing .navbar-nav > .active > a, 
.landing .navbar-nav > .active > a:hover, 
.landing .navbar-nav > .active > a:focus{
	background-color: transparent;
	color: #fff;
}

.landing img{
	max-width: 100%;
}
.landing .carousel{
	padding:100px 15px 0 15px;
}
.landing .carousel .carousel-control{
	width: 10%;
}
.landing .carousel .item{
	max-height: 450px;
	overflow: hidden;
}
.landing .carousel h2{
	font-size:4em;
	font-weight: 700;
	margin: 60px 0 40px;
	line-height: 1.3
}

.m-xl{
	margin-top: 50px; 
	margin-bottom: 50px;
}

/*phone*/
@media (max-width: 767px) {
  .landing #header, 
  .landing  #header .container{
  	padding: 0
  }
  .landing .navbar-nav{margin: 0}
  .landing .carousel h2{
  	font-size: 25px;
  	margin: 20px 0
  }
  .landing .carousel{
  	padding:80px 15px 0 15px;
  }
  .landing .carousel .item{
  	height: 200px;
  }
}