.alert{
    cursor: pointer;
    position: fixed;
    right: 20px;
    min-width: 320px;
    top:20px;
    z-index: 999999;
}
.list-item{
    height:230px;
    width:250px;
    margin:10px;
    background-color: #EEE;
    display:inline-block;
    margin-right:25px;
}
.large-padding{
    padding:15px;
}
.list-item img{
    display:block;
    height:150px;
    width:225px;
    margin-left:auto;
    margin-top:10px;
    margin-right: auto;
}
.list-item p{
    display:block;
    padding-top:5px;
    text-align: left;
    padding-left: 15px;
    font-weight:bold;
}
.list-item-link{
    padding-left:15px;
}
.list-item a{
    display:inline-block;
    text-align: center;
    width:75px;
    margin-right:10px;
}
.main-loader{
    cursor: pointer;
    position: fixed;
    right: 20px;
    height:50px;
    width:50px;
    display:none;
    top:20px;
    z-index: 999999;
}

#circleG{
    width:46.666666666666664px;
}

.circleG{
    background-color:#BBBBBB;
    float:left;
    height:10px;
    margin-left:5px;
    width:10px;
    -moz-animation-name:bounce_circleG;
    -moz-animation-duration:1.9500000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:7px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:1.9500000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:7px;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:1.9500000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:7px;
    -o-animation-name:bounce_circleG;
    -o-animation-duration:1.9500000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:7px;
    animation-name:bounce_circleG;
    animation-duration:1.9500000000000002s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:7px;
}

#circleG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circleG_2{
    -moz-animation-delay:0.9099999999999999s;
    -webkit-animation-delay:0.9099999999999999s;
    -ms-animation-delay:0.9099999999999999s;
    -o-animation-delay:0.9099999999999999s;
    animation-delay:0.9099999999999999s;
}

#circleG_3{
    -moz-animation-delay:1.1700000000000002s;
    -webkit-animation-delay:1.1700000000000002s;
    -ms-animation-delay:1.1700000000000002s;
    -o-animation-delay:1.1700000000000002s;
    animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#FFFFFF}

    100%{
    }

}

@-webkit-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#FFFFFF}

    100%{
    }

}

@-ms-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#FFFFFF}

    100%{
    }

}

@-o-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#FFFFFF}

    100%{
    }

}

@keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#FFFFFF}

    100%{
    }

}
